.catalogo-container {
    text-align: center;
    margin-top: 20px;
    padding-bottom: 20px;
}

.catalogo-container h4 {
    font-size: 18px;
    color: #000;
}

.catalogo-container p {
    color: #585858; 
    font-size: 14px;
    font-style: italic;
    text-align: start;
    padding: 14px 14px 10px 22px;
}

.catalogo-container button {
    padding: 6px 90px;
}

/* ---------------------------------------------------------------------------------------------------- */
@media (min-width: 576px) {
    .catalogo-container button {
        padding-right:70px;
    }
}